.results > .studio{
	counter-reset: ranking;
}
.studio .media-card.isMain{
	border-bottom: rgb(var(--color-blue));
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.search .results.cover .media-card,
.search .results .staff-card,
.search-landing .results:not(.table) .media-card{
	width: 150px;
}
.search .results.cover,
.search-landing .results:not(.table){
	grid-template-columns: repeat(auto-fill,150px);
	grid-gap: 25px 20px;
}
.search .results.table{
	grid-gap: 12px;
}
.search .results.table .cover{
	height: 81px;
	width: 54px;
}
.search .results.table .media-card{
	padding: 0px;
}
.search .results.cover .media-card .cover,
.search-landing .results:not(.table) .media-card .cover,
.search .results .staff-card .cover{
	height: 225px;
}
.search:not(.other-type) .landing-section:not(.top) .link{
	max-width: 1000px;
}
