.results > .studio{
	counter-reset: ranking;
}
.studio .media-card.isMain{
	border-bottom: rgb(var(--color-blue));
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.search .results.cover .media-card,
.search .results .staff-card,
.search-landing .results:not(.table) .media-card{
	width: 150px;
}
.search .results.cover,
.search-landing .results:not(.table){
	grid-template-columns: repeat(auto-fill,150px);
	grid-gap: 25px 20px;
}
.search .results.table{
	grid-gap: 12px;
}
.search .results.table .cover{
	height: 81px;
	width: 54px;
}
.search .results.table .media-card{
	padding: 0px;
}
.search .results.cover .media-card .cover,
.search-landing .results:not(.table) .media-card .cover,
.search .results .staff-card .cover{
	height: 225px;
}
.search:not(.other-type) .landing-section:not(.top) .link{
	max-width: 1000px;
}



.studio-page-unscoped.cardView .media-card,
.studio-page-unscoped:not(.listView) .media-card{
	overflow: visible;
}
.studio-page-unscoped.cardView .list-status{
	transform: translate(-18px,-18px);
}
.studio-page-unscoped:not(.listView) .list-status{
	transform: translate(-20px,-20px);
}
.studio-page-unscoped:not(.cardView) .description{
	display: none;
}
.studio-page-unscoped,
.results > .studio{
	counter-reset: ranking;
}
.studio-page-unscoped:not(.cardView) .character,
.studio-page-unscoped:not(.cardView) .staff{
	position: relative;
}
.studio-page-unscoped .data::before{
	left: 2px;
	opacity: 0.4;
	font-size: 70%;
	position: absolute;
	counter-increment: ranking;
	content: counter(ranking);
}
.studio-page-unscoped:not(.cardView) .media-card{
	min-width: 150px!important;
	grid-template-columns: 150px auto!important;
	height: 297px!important;
	width: 150px !important;
}
.studio-page-unscoped:not(.cardView) .cover .overlay{
	padding-left: 8px!important;
	padding-right: 8px!important;
	padding-top: 4px!important;
	padding-bottom: 14px!important;
}
.studio-page-unscoped:not(.cardView) .grid-wrap > .media-card{
	margin-left: 30px;
}
.studio-page-unscoped:not(.cardView) .media-card .cover{
	width: 150px;
	height: 215px;
	margin-top: 53px;
	z-index: 100;
}
.studio-page-unscoped:not(.cardView) .data{
	margin-left: -150px;
}
.studio-page-unscoped:not(.cardView) .genres{
	min-height:29px;
	z-index: 101;
	padding: 8px 5px!important;
	padding-bottom: 2px !important;
	font-size: 1rem!important;
	line-height: 1.15;
}
.studio-page-unscoped:not(.cardView) .list-edit{
	z-index: 101;
}
.studio-page-unscoped:not(.cardView) .airing-countdown{
	padding: 5px!important;
}
.studio-page-unscoped:not(.cardView) .grid-wrap{
	grid-template-columns: repeat(auto-fill, 150px) !important;
}
.studio-page-unscoped:not(.cardView) .media{
	grid-template-columns: repeat(auto-fill, 150px) !important;
	width:100%;
}
.studio-page-unscoped:not(.cardView) .list-status{
	width: 20px!important;
	height: 20px!important;
}
.studio-page-unscoped.listView .container.grid-wrap,
.studio-page-unscoped.compactListView .container.grid-wrap{
	display: block!important;
}
.studio-page-unscoped.listView .media-card{
	margin-bottom: 10px;
	height: 195px;
	width: 95%;
}
.studio-page-unscoped.listView .media-card .cover{
	height: 165px;
	width: 115px;
}
.studio-page-unscoped.listView .media-card .cover .overlay{
	position: absolute;
	top: 0px;
	left: 115px;
	z-index: 5;
	background: none;
	width: 550px;
	padding: 10px;
	color: rgb(var(--color-text));
}
.studio-page-unscoped.listView .media-card .data{
	margin-left: -70px;
	height: 195px;
}
.studio-page-unscoped.listView .media-card .data .list-edit{
	display: inline;
	width: 115px;
	height: 30px;
	position: absolute;
	left: -115px;
	top: 165px;
}
.studio-page-unscoped.listView .media-card .data .genres{
	display: inline;
}
.studio-page-unscoped.listView .media-card .data .extra{
	padding-left: 50%;
}
.studio-page-unscoped.listView .media-card .data .description{
	height: 102px;
}
.studio-page-unscoped.listView .media-card .data .airing-countdown,
.studio-page-unscoped.compactListView .media-card .data .airing-countdown{
	text-align: right;
}
.studio-page-unscoped.listView .media-card .data .list-edit .action{
	padding: 5px;
}
.studio-page-unscoped.compactListView .media-card{
	margin-bottom: 5px;
	height: 30px;
	width: 95%;
}
.studio-page-unscoped.compactListView .media-card .data .description{
	display: none;
}
.studio-page-unscoped.compactListView .media-card .cover{
	background: none!important;
	height: 30px;
}
.studio-page-unscoped.compactListView .media-card .cover .list-status{
	transform: translate(-3px,-3px);
	z-index: 51;
	box-shadow: none;
}
.studio-page-unscoped.compactListView .media-card .cover .overlay{
	z-index: 49;
	background: none;
	position: absolute;
	top: 0px;
	left: 20px;
	padding: 6px;
	width: 600px;
	color: rgb(var(--color-text));
}
.studio-page-unscoped.compactListView .media-card .data{
	margin-left: -185px;
	position: relative;
}
.studio-page-unscoped.compactListView .media-card .data .list-edit{
	position: absolute;
	top: 0px;
	width: 115px;
	left: calc(100% - 115px);
	background: none;
}
.studio-page-unscoped.compactListView .media-card:hover .data .airing-countdown{
	display: none;
}
.studio-page-unscoped.compactListView .media-card .data .extra{
	position: absolute;
	left: calc(100% - 550px);
	top: 0px;
	background: none;
	width: 150px;
}
.studio-page-unscoped.compactListView .media-card .data .genres{
	position: absolute;
	width: 200px;
	top: 6px;
	background: none;
	left: calc(100% - 350px);
	display: inline;
	padding: 0px;
	height: 30px;
	line-height: 10px;
}
.studio-page-unscoped.compactListView .media-card .data .genres span{
	vertical-align: middle;
}
.studio-page-unscoped.compactListView .data::before{
	font-size: 50%;
}
.studio-page-unscoped.listView .data::before{
	font-size: 60%;
}
.studio-page-unscoped .hohThemeSwitch{
	width: 130px;
	position: absolute;
	top: 60px;
	left: 50%;
}
.studio .media-card.isMain{
	border-bottom: rgb(var(--color-blue));
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
