.hohDisplayBox{
	position: fixed;
	top: 80px;
	left: 200px;
	z-index: 9999;
	padding: 20px;
	background-color: rgb(var(--color-foreground));
	border: solid 1px;
	border-radius: 4px;
	box-shadow: black 2px 2px 20px;
	overflow: hidden;
	filter: brightness(110%);
}
.hohDisplayBox .scrollableContent{
	overflow: auto;
	height: 100%;
	scrollbar-width: thin;
	margin-top: 5px;
	padding: 30px;
	padding-top: 35px;
	padding-left: 15px;
}
.hohDisplayBoxClose{
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
	background-color: red;
	border: solid;
	border-width: 1px;
	border-radius: 2px;
	color: white;
	border-color: rgb(var(--color-text));
	filter: drop-shadow(0 0 0.2rem crimson);
	z-index: 20;
}
}
.hohDisplayBoxClose:hover{
	filter: drop-shadow(0 0 0.75rem crimson);
}
.hohNewChapter .hohDisplayBoxClose{
	display: none;
	top: 7px;
}
.hohNewChapter:hover .hohDisplayBoxClose{
	display: inline;
}
.hohDisplayBoxTitle{
	position: absolute;
	top: 5px;
	left: 5px;
	font-weight: bold;
	font-size: 1.2em;
}
