body{
	margin: 0px;
}
img{
	image-orientation: from-image;/*useful fix, but not universally supported*/
}
#hohSettings{
	margin-top: 20px;
	display: none;
}
.apps + #hohSettings{
	display: inline;
}
#hohSettings textarea,
#hohSettings input,
#hohSettings select,
.hohNativeInput{
	color: inherit;
	background-color: rgb(var(--color-foreground-grey));
	border-width: 1px;
	padding: 3px;
	border-radius: 3px;
}
m4_include(css/notifications.css)
.hohMonospace{
	font-family: monospace;
}
.hohCode{
	font-family: monospace;
	background: rgb(var(--color-background));
}
.hohForumHider{
	margin-right: 3px;
	cursor: pointer;
	font-family: monospace;
}
.hohForumHider:hover{
	color: rgb(var(--color-blue));
}
.hohBackgroundCover{
	height: 70px;
	width: 50px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 1px;
	line-height: 0;
	margin-bottom: 1px;
}
#hohDescription{
	width: 280px;
	height: 150px;
	float: left;
	color: rgb(var(--color-blue));
}
.hohStatsTrigger{
	cursor: pointer;
	border-radius: 3px;
	color: rgb(var(--color-text-lighter));
	display: block;
	font-size: 1.4rem;
	margin-bottom: 8px;
	margin-left: -10px;
	padding: 5px 10px;
	font-weight: 700;
}
.hohActive{
	background: rgba(var(--color-foreground),.8);
	color: rgb(var(--color-text));
	font-weight: 500;
}
#hohFavCount{
	position: absolute;
	right: 30px;
	color: rgba(var(--color-red));
	top: 10px;
	font-weight: 400;
}
.hohSlidePlayer{
	display: block;
	position: relative;
	width: 500px;
}
.hohSlide{
	position: absolute;
	top: 0px;
	font-size: 500%;
	height: 100%;
	display: flex;
	align-items: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0.5;
}
.hohSlide:hover{
	background-color: rgb(0,0,0,0.4);
	cursor: pointer;
	opacity: 1;
}
.hohRightSlide{
	right: 0px;
	padding-left: 10px;
	padding-right: 20px;
}
.hohLeftSlide{
	left: 0px;
	padding-left: 20px;
	padding-right: 10px;
}
.hohShare{
	position: absolute;
	right: 12px;
	top: 30px;
	cursor: pointer;
	color: rgb(var(--color-blue-dim));
}
.activity-entry{
	position: relative;
}
.activity-entry.activity-text{
	border-right-width: 0px!important;
}
.hohEmbed{
	border-style: solid;
	border-color: rgb(var(--color-text));
	border-width: 1px;
	padding: 15px;
	position: relative;
}
.hohEmbed .avatar{
	border-radius: 3px;
	height: 40px;
	width: 40px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}
.hohEmbed .name{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	vertical-align: top;
	color: rgb(var(--color-blue));
	font-size: 1.4rem;
	margin-left: 12px !important;
}
.hohEmbed .time{
	color: rgb(var(--color-text-lighter));
	font-size: 1.1rem;
	position: absolute;
	right: 12px;
	top: 12px;
}
#hoh-character-roles .view-media-character{
	grid-template-areas: "media character";
}
#hoh-character-roles .view-media-character .media{
	grid-area: media;
}
.hohRecsLabel{
	color: rgb(var(--color-blue)) !important;
}
.hohRecsItem{
	margin-top: 5px;
	margin-bottom: 10px;
}
.hohTaglessLinkException{
	display: block;
}
.hohTaglessLinkException::after{
	content: ""!important;
}
.hohStatValue{
	color: rgb(var(--color-blue));
}
.user-page-unscoped .markdown-editor{
	width: 100%;
}
.markdown-editor > [title="Image"],
.markdown-editor > [title="Youtube Video"],
.markdown-editor > [title="WebM Video"]{
	color: rgba(var(--color-red));
}
.markdown-editor > [title="Link"]{
	color: rgba(var(--color-blue));
}
.hohBackgroundUserCover{
	height: 50px;
	width: 50px;
	display: inline-block;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 11px;
	margin-bottom: 1px;
}
.hohRegularTag{
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	padding: 2px;
	margin-right: 3px;
}
.hohTableHider{
	cursor: pointer;
	margin: 4px;
	color: rgb(var(--color-blue));
}
.hohCross{
	cursor: pointer;
	margin-left: 2px;
	color: red;
}
.hohFavCountBrowse{
	color: rgb(var(--color-text-lighter));
	position: absolute;
	right: 2px;
	font-size: 60%;
	opacity: 0.7;
	top: -10px;
}
.hohColourPicker{
	position: absolute;
	right: 60px;
	margin-top: 0px;
}
.hohColourPicker h2{
	color: #3db4f2;
	font-size: 1.6rem;
	font-weight: 400;
	padding-bottom: 12px;
}
.hohSecondaryRow{
	background-color: rgb(var(--color-background));
}
.hohSecondaryRow:hover{
	background-color: rgb(var(--color-foreground));
}
.hohSecondaryRow svg.repeat{
	margin-left: 15px;
}
.media-preview-card meter{
	width: 150px;
	margin-bottom: 5px;
}
.sidebar .tags .tag{
	min-height: 35px;
	margin-bottom: 5px !important;

}
.custom-lists .el-checkbox__label{
	display: inline !important;
	white-space: pre-wrap;
	white-space: -webkit-pre-wrap;
	white-space: normal;
	word-wrap: anywhere;
	word-break: break-word;
}
.hohStatusDot{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50px;
}
.hohStatusDotRight{
	top: 2px;
	right: 2px;
}
.relations.hohRelationStatusDots .hohStatusDot{
	position: relative;
	transform: translate(-5px,-5px);
}
.relations.hohRelationStatusDots > div.grid-wrap{
	padding-top: 5px;
}
.relations.hohRelationStatusDots > h2{
	margin-bottom: 5px;
}
.recommendation-card .cover{
	overflow: visible;
}
.recommendation-card .hohStatusDot{
	transform: translate(-5px,-5px);
}
.studio .container.header{
	position: relative;
}
.studio .favourite{
	position: absolute;
	top: 10px;
	right: 30px;
}
.filter .view-all{
	background-color: rgb(var(--color-foreground));
	height: 32px;
	border-radius: 3px;
	text-align: center;
	padding-top: 8px;
}
.title > a{
	line-height: 1.15!important;
}
.embed .title{
	line-height: 18px!important;
}
#dubNotice{
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	background: rgb(var(--color-foreground));
	margin-top: 0em;
	margin-bottom: 16px;
	border-radius: 3px;
	padding: 8px 12px;
}
.media-manga #dubNotice{
	display: none;
}
#hohDraw3x3{
	margin-top: 5px;
	cursor: pointer;
}
.hohFeedFilter{
	position: absolute;
	top: 2px;
	font-size: 1.4rem;
	font-weight: 500;
}
.hohFeedFilter input{
	width: 45px;
	background: none;
	border: none;
	margin-left: 6px;
	color: rgb(var(--color-text));
}
.hohFeedFilter input::-webkit-outer-spin-button, 
.hohFeedFilter input::-webkit-inner-spin-button{
	opacity: 1;
}
[list="staffRoles"]::-webkit-calendar-picker-indicator{
	display: none;
}
[list="staffRoles"]{
	background: rgb(var(--color-foreground));
	background: rgb(var(--color-foreground));
	padding: 5px;
	border-width: 0px;
	border-radius: 2px;
	margin-left: 20px;
	color: rgb(var(--color-text));
}
.hohFeedFilter button{
	color: rgb(var(--color-text));
	cursor: pointer;
	background: none;
	border: none;
	margin-left: 10px;
}
.hohFeedFilter button:hover{
	color: rgb(var(--color-blue));
}
.actions .list .add{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.text div.markdown{
	scrollbar-width: thin;
}
.user .about > div.content-wrap{
	scrollbar-width: thin;
}
.list-wrap .section-name,
.quick-search input[placeholder="Search AniList"]{
	text-transform: none;
}
.list-wrap{
	counter-reset: animeCounter;
}
.results.studios{
	counter-reset: studioCounter;
}
.results.studios .studio > .name::before{
	counter-increment: studioCounter;
	content: counter(studioCounter);
	opacity: 0.2;
	font-size: 70%;
	margin-left: -12px;
	margin-right: 3px;
}
.medialist.table.compact .entry .title::before{
	counter-increment: animeCounter;
	content: counter(animeCounter);
	display: inline-block;
	margin-right: 4px;
	margin-left: -17px;
	opacity: 0.2;
	text-align: right;
	width: 25px;
	min-width: 25px;
	font-size: 70%;
}
.hohEnumerateStaff{
	position: absolute;
	margin-left: -12px;
	margin-top: 10px;
}
#hohMALscore .type,
#hohMALserialization .type{
	font-size: 1.3rem;
	font-weight: 500;
	padding-bottom: 5px;
	display: inline-block;
}
#app .tooltip{
	z-index: 9923;
}
#hohMALscore .value,
#hohMALserialization .value{
	color: rgb(var(--color-text-lighter));
	font-size: 1.2rem;
	line-height: 1.3;
	display: block;
}
.hohMediaScore{
	color: rgb(var(--color-text-lighter));
	font-size: 1.2rem;
	position: absolute;
	top: -10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -10px;
}
.forum-thread .like .button{
	margin-right: 0px!important;
}
.forum-thread .actions{
	user-select: none;
}
#hohFilters{
	margin-top: 5px;
	margin-bottom: 5px;
}
#hohFilters input{
	width: 55px;
	margin: 5px;
}
.hohCompare{
	margin-top: 10px;
	counter-reset: animeCounterComp;
	position: relative;
	overflow-x: scroll;
}
.hohCompare .hohUserRow,
.hohCompare .hohHeaderRow{
	background: rgb(var(--color-foreground));
}
.hohCompare table,
.hohCompare th,
.hohCompare td{
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-style: solid;
	border-color: black;
	padding: 5px;
}
.hohCompare table{
	background: rgb(var(--color-foreground-grey));
	border-spacing: 0px;
	margin-top: 10px;
	border-right: none;
	border-bottom: none;
}
#graphiql{
	--color-blue: 61,180,242;
}
.list-stats{
	margin-bottom: 0px!important;
}
.activity-feed-wrap,
.activity-feed-wrap + div{
	margin-top: 25px;
}
.page-content > .container,
.notifications-feed,
.page-content > .studio{
	margin-top: 67px !important;
}
.hohUserRow td,
.hohUserRow th{
	min-width: 120px;
	border-top-width: 1px;
	position: sticky;
	top: 3px;
	z-index: 1000;
	background: rgb(var(--color-foreground));
}
.hohHeaderRow td,
.hohHeaderRow th{
	border-top: none;
}
.hohUserRow input{
	width: 100px;
}
.hohUserRow img{
	width: 30px;
	height: 30px;
	border-radius: 2px;
}
tr.hohAnimeTable:nth-child(2n+1){
	background-color: rgb(var(--color-foreground));
}
.hohAnimeTable,
.hohAnimeTable td{
	position: relative;
}
.hohAnimeTable .hohStatusDot{
	top: calc(50% - 5px);
	right: 5px;
}
.hohHeaderRow .hohStatusDot{
	background: rgb(var(--color-background));
	top: calc(50% - 5px);
	right: 5px;
	cursor: pointer;
}
.hohStatusProgress{
	position: absolute;
	left: 60px;
	top: calc(50% - 5px);
	font-size: 60%;
}
.hohAnimeTable > td:nth-child(1)::before{
	counter-increment: animeCounterComp;
	content: counter(animeCounterComp) ". ";
	position: absolute;
	left: 1px;
	text-align: right;
	width: 40px;
	color: rgb(var(--color-blue));
}
.hohAnimeTable > td:nth-child(1){
	padding-left: 43px;
	border-left-width: 1px;
}
.hohUserRow > td:nth-child(1),
.hohHeaderRow > th:nth-child(1){
	border-left: solid;
	border-left-width: 1px;
	border-color: black;
}
.hohArrowSort{
	font-size: 3rem;
	cursor: pointer;
	margin-left: 4px;
	margin-right: 4px;
}
.hohFilterSort{
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
	borderRadius: 4px;
}
.hohArrowSort:hover,
.hohFilterSort:hover{
	color: rgb(var(--color-blue));
}
.hohAnimeTableRemove{
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
}
.hohCheckbox.el-checkbox__input > span.el-checkbox__inner{
	background-color: rgb(var(--color-foreground));
	margin-right:10px;
	border-color: rgba(var(--color-text),.2);
}
.hohCheckbox input:checked + .el-checkbox__inner{
	background-color: #409eff;
	border-color: #409eff;
}
.hohCheckbox input:checked + .el-checkbox__inner::after{
	transform: rotate(45deg) scaleY(1);
}
.hohCheckbox input{
	display: none;
}
.hohCheckbox{
	margin-left: 2px;
}
.hohCheckbox .el-checkbox__inner::after {
	box-sizing: content-box;
	content: "";
	border: 1px solid #fff;
	border-left: 0;
	border-top: 0;
	height: 7px;
	left: 4px;
	position: absolute;
	top: 1px;
	transform: rotate(45deg) scaleY(0);
	width: 3px;
	transition: transform .15s ease-in .05s;
	transform-origin: center;
}
.hohCheckbox .el-checkbox__inner {
	display: inline-block;
	position: relative;
	border: 1px solid #dcdfe6;
	border-radius: 2px;
	box-sizing: border-box;
	width: 14px;
	height: 14px;
	z-index: 1;
	transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.hohCheckbox.el-checkbox__input{
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	display: inline-block;
	line-height: 1;
	position: relative;
	vertical-align: middle;
}
.media-card .list-status[status="Repeating"]{
	background: violet;
}
.sense-wrap{
	display: none;
}
.hohDismiss{
	cursor: pointer;
	transform: translate(20px,-11px);
	width: 10px;
	height: 5px;
	margin-left: -10px;
}
.substitution .media-roles:not(.substitution){
	display: none;
}
.substitution .character-roles{
	max-width: 1520px;
}
.hohButton{
	align-items: center;
	background: #3db4f2;
	border-radius: 4px;
	color: rgb(var(--color-text-bright));
	cursor: pointer;
	display: inline-flex;
	font-size: 1.3rem;
	margin-right: 10px;
	margin-top: 15px;
	padding: 10px 15px;
	transition: .2s;
	border-width: 0px;
}
.user-social .title::before{
	font-size: 1.6rem;
}
textarea{
	background: rgb(var(--color-foreground));
}
select{
	background: rgb(var(--color-foreground));
	padding: 5px;
	border-radius: 4px;
	border-width: 0px;
	margin: 4px;
	color: rgb(var(--color-text));
}
.hohPostLink{
	position: absolute;
	top: 50px;
}
.hohRec{
	position: relative;
	background: rgb(var(--color-foreground));
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 15px;
}
.hohBlock{
	padding: 4px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	margin: 2px;
}
.hohBlockSpec{
	padding-right: 15px;
}
.hohBlockCross{
	padding: 5px;
	color: red;
	cursor: pointer;
}
.medialist .filters .filter-group:first-child > span{
	position: relative;
}
.medialist .filters .filter-group:first-child > span .count{
	position: absolute;
	right: 0px;
}
.categories .category{
	text-transform: none;
	white-space: nowrap;
}
.media-preview-card.hohFallback{
	position: relative;
}
.media-preview-card .hohFallback{
	position: absolute;
	top: 5px;
	left: 5px;
	word-break: break-word;
	overflow-y: hidden;
	max-height: 110px;
	max-width: 75px;
}
.media-preview-card .cover{
	z-index: 3;
}
.hohChangeScore{
	font-family: monospace;
	cursor: pointer;
	display: none;
}
.score[score="0"] .hohChangeScore,
.medialist .score[score="0"]{
	pointer-events: none;
}
.score[score="0"] .hohChangeScore{
	display: none!important;
}
.row:hover .hohChangeScore,
.hohMediaScore:hover .hohChangeScore{
	display: inline;
}
.activity-text .name[href="/user/Dunkan85/"]::after{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e4/Twitter_Verified_Badge.svg);
	background-size: 12px;
	display: inline-block;
	width: 12px;
	height: 12px;
	content: "";
	margin-left: 5px;
}
.hohSumableStatusContainer{
	float: right;
}
.hohSumableStatus{
	width: 16px;
	height: 16px;
	text-align: center;
	vertical-align: middle;
	border-radius: 16px;
	line-height: 16px;
	color: black;
	font-size: 10px;
	display: inline-block;
	margin-left: 2px;
}
.relations.small > div{
	margin-left: 5px;
}
.hohMyThreads{
	color: rgb(var(--color-text-lighter));
	padding: 5px 10px;
	font-size: 1.4rem;
	display: inline-block;
	padding-bottom: 20px;
}
.hohImport .el-checkbox__label{
	padding-left: 0px;
}
.hohImportEntry{
	width: 30%;
	display: inline-block;
	background-color: rgb(var(--color-foreground));
	padding: 5px;
	margin: 5px;
	border-radius: 2px;
}
.hohImportArrow{
	font-size: 40px;
}
.hohImportRow{
	margin: 10px;
}
.results.characters + .hohThemeSwitch,
.results.staff + .hohThemeSwitch{
	display: none;
}
.hohThemeSwitch{
	align-items: center;
	background: rgb(var(--color-foreground));
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	padding: 10px 13px;
	width: 100px;
}
.hohThemeSwitch .active{
	color: rgb(var(--color-blue));
}
.hohThemeSwitch > span{
	cursor: pointer;
}
.studio .hohThemeSwitch{
	position: absolute;
	left: calc(50% - 65px);
	width: 130px;
	top: 120px;
}
.user-social.listView .user-follow .wrap{
	display: block!important;
}
.user-social.listView .user-follow .user{
	height: 50px;
	width: 50px;
	margin: 5px;
	overflow: visible;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.user-social.listView .user-follow .follow-card .name{
	width: 250px;
	margin-left: 80px !important;
	opacity: 1;
}
.user-social.listView .user-follow .follow-card{
	margin: 2px;
}
.user-social.listView .user-follow .follow-card div.avatar{
	overflow: visible!important;
}
.user-social.listView .thread-card .body-preview,
.user-social.listView .thread-card .footer{
	display: none;
}
.user-social.listView .thread-card .title{
	margin-bottom: 0px;
}
.user-social.listView .thread-card{
	margin-bottom: 10px;
}
.user-social.listView .user-comments .header{
	display: none;
}
.user-social.listView .comment-wrap{
	margin-bottom: 5px;
}
.hohDownload{
	position: absolute;
	right: 10px;
	top: 305px;
	font-weight: bolder;
	font-size: 120%;
}
.media .hohDownload{
	top: 375px;
}
meter::-webkit-meter-optimum-value{
	background: rgb(var(--color-blue));
}
meter::-moz-meter-bar{
	background: rgb(var(--color-blue));
}
.input-wrap.manga input[placeholder="Status"],
.input-wrap.anime input[placeholder="Status"],
.input-wrap.anime .form.score input{
	width: 220px;
}
.substitution .role-card{
	background: rgb(var(--color-foreground));
	border-radius: 3px;
	display: inline-grid;
	grid-template-columns: 50% 50%;
	height: 80px;
	overflow: hidden;
}
.substitution .media-roles .role-card{
	grid-template-columns: 100%;
}
.substitution .role-card > div{
	display: inline-grid;
	grid-template-columns: 60px auto;
	grid-template-areas: "image content";
}
.substitution .cover{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	grid-area: image;
}
.substitution .grid-wrap .content{
	font-size: 1.2rem;
	grid-area: content;
	overflow: hidden;
	padding: 10px;
	position: relative;
}
.substitution .grid-wrap .content .name{
	display: block;
	height: 48px;
	line-height: 1.3;
}
.substitution .grid-wrap{
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 15px;
	grid-template-columns: repeat(2,1fr);
}
.substitution .role{
	color: rgb(var(--color-text-lighter));
	font-size: 1.1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.user-follow .follow-card{
	background-color: rgb(var(--color-foreground));
}
.recent-recommendations .switch .option{
	white-space: nowrap;
}
.media-staff .role-card .role:hover,
.media-roles.substitution .role-card .role:hover{
	overflow-x: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.media-staff .role-card .role:hover::-webkit-scrollbar,
.media-roles.substitution .role-card .role:hover::-webkit-scrollbar{
	width: 0;
	height: 0;
}
.tagIndex p{
	cursor: pointer;
}
.tagIndex p:hover{
	cursor: pointer;
	color: rgb(var(--color-blue));
}
.tagIndex .count{
	font-size: small;
	float: right;
	opacity: 0.5;
}
.hohTable .row{
	display: grid;
	grid-template-columns: 40% repeat(auto-fill, 120px);
	padding: 5px;
	cursor: pointer;
}
.hohTable .row:nth-child(odd){
	background: rgba(var(--color-background-300), 0.5);
}
.hohTable .row.good{
	grid-template-columns: 40% repeat(auto-fill, 150px);
}
.hohTable .row > div{
	grid-row: 1;
}
.hohTable{
	padding: 20px;
	background: rgb(var(--color-foreground));
}
.hohTable .count{
	display: inline-block;
	min-width: 20px;
	font-size: 70%;
}
.hohTable .hohSumableStatusContainer{
	margin-right: 8px;
}
.hohTable .header.row{
	background: rgb(var(--color-background));
}
#regularAnimeTable,
#regularMangaTable,
#animeStaff,
#animeStudios,
#mangaStaff{
	display: none!important;
}
.user[type="anime"][page="tags"]:not(.hohSpecialPage) #regularAnimeTable,
.user[type="manga"][page="tags"]:not(.hohSpecialPage) #regularMangaTable,
.user[type="anime"][page="staff"]:not(.hohSpecialPage) #animeStaff,
.user[type="anime"][page="studios"]:not(.hohSpecialPage) #animeStudios,
.user[type="manga"][page="staff"]:not(.hohSpecialPage) #mangaStaff{
	display: block!important;
}
.user[type="anime"][page="tags"] .increase-stats::after,
.user[type="manga"][page="tags"] .increase-stats::after,
.user[type="anime"][page="staff"] .increase-stats::after,
.user[type="anime"][page="studios"] .increase-stats::after,
.user[type="manga"][page="staff"] .increase-stats::after{
	content: "Or view the full list below:";
	display: block;
}
.user .hohMilestones .milestones .milestone:nth-child(2)::after{
	display: none;
}
.hohCategories{
	margin-bottom: 20px;
	padding-right: 15px;
	padding-left: 0px;
}
.hohCategory{
	display: inline-block;
	padding: 5px;
	margin: 3px;
	border-style: solid;
	border-radius: 5px;
	color: rgb(var(--color-text));
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 1.2rem;
}
.hohCategory.active{
	background: rgb(var(--color-blue));
	color: rgb(var(--color-text-bright));
}
#hohSettings .hohSetting{
	display: none;
	position: relative;
}
#hohSettings.all .hohSetting,
#hohSettings.Notifications .hohSetting.Notifications,
#hohSettings.Feeds .hohSetting.Feeds,
#hohSettings.Forum .hohSetting.Forum,
#hohSettings.Lists .hohSetting.Lists,
#hohSettings.Profiles .hohSetting.Profiles,
#hohSettings.Stats .hohSetting.Stats,
#hohSettings.Media .hohSetting.Media,
#hohSettings.Navigation .hohSetting.Navigation,
#hohSettings.Browse .hohSetting.Browse,
#hohSettings.Script .hohSetting.Script,
#hohSettings.NewlyAdded .hohSetting.NewlyAdded,
#hohSettings.Login .hohSetting.Login{
	display: block;
}
.noLogin .hohSetting.Login{
	opacity: 0.4;
}
.medialist.cards .entry-card .progress{
	width: 60%;
}
#titleAliasInput{
	max-width: 100%;
}
.hohAdvancedDollar{
	font-weight: bold;
	margin-left: 9px;
}
.social input[list="socialUsers"]{
	background: rgb(var(--color-foreground));
	border-width: 0px;
	padding: 5px;
	margin-right: 5px;
}
.termsFeed{
	--color-blue: 61,180,242;
	--color-green: 123,213,85;
	--color-red: 232,93,117;
}
.hohFeed{
	margin-top: 10px;
	margin-bottom: 20px;
}
.hohFeed video{
	max-width: 100%;
}
.hohFeed .activity,
.hohFeed .activity .reply{
	min-height: 25px;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 0px;
}
.hohFeed .activity .replies{
	margin-left: 60px;
	margin-top: 5px;
}
.hohFeed .activity:last-child{
	border-bottom-width: 1px;
}
.hohFeed a{
	text-decoration: none;
	color: rgb(var(--color-blue));
}
.hohFeed .hohButton{
	font-size: 1rem;
	color: initial;
	margin: 5px;
	filter: drop-shadow(2px 2px 3px black);
}
.hohFeed img{
	max-width: 500px;
}
.hohFeed .markdown_spoiler{
	background: rgb(31, 35, 45);
	color: rgb(31, 35, 45);
}
.hohFeed .markdown_spoiler:hover{
	color: rgb(159,173,189);
}
.hohFeed .markdown_spoiler img{
	filter: blur(10px) hue-rotate(60deg) brightness(0.7);
}
.hohFeed .markdown_spoiler:hover img{
	filter: none;
}
.hohFeed .markdown_spoiler::after{
	content: "Spoiler";
	color: rgb(159,173,189);
	margin-left: 2px;
}
.hohZoom{
	transform: scale(1.5);
	transform-origin: 0 0;
	transition: transform 0.4s;
	z-index: 200;
	box-shadow: 5px 5px 5px black;
}
.hohZoom .reply-wrap{
	background: rgb(var(--color-background));
}
.hohTable.hohNoPointer .row,
.hohNoPointer{
	cursor: unset;
}
.hohNewChapter{
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
}
.hohNewChapter:hover a::before{
	content: ">";
	position: absolute;
	margin-left: -10px;
	font-size: small;
}
.hohNewChapter:nth-child(odd){
	background: rgb(var(--color-foreground-grey),0.3);
}
.banMode .hohNewChapter{
	cursor: crosshair!important;
}
.banMode .hohNewChapter a{
	pointer-events: none;
}
.banMode .hohNewChapter:hover .hohDisplayBoxClose{
	display: none;
}
.hohFeed .activity:hover::before{
	content: ">";
	position: absolute;
	left: -20px;
	top: 0px;
}
.hohFeed .hohLikes:hover{
	color: rgb(var(--color-red));
	filter: saturate(50%);
}
.hohLikeQuickView{
	position: absolute;
	bottom: 0px;
	left: 45px;
	font-size: 70%;
	white-space: nowrap;
	overflow: hidden;
	max-width: 270px;
}
.hohFeed .hohLikes:hover .hohLikeQuickView{
	filter: saturate(200%);
}
.hohFeed .hohLikes:hover .hohLikeQuickView{
	color:rgb(159,173,189);
}
.hohFeed .activity:hover > .time{
	color: rgb(var(--color-blue));
}
.hohSocialFeed{
	position: relative;
}
.hohReplaceFeed > *:not(.hohSocialFeed){
	display: none;
}
.hohSocialFeed .wrap{
	background: rgb(var(--color-foreground));
	border-radius: 4px;
	font-size: 1.3rem;
	overflow: hidden;
	position: relative;
	min-height: 55px !important;
}
.hohSocialFeed .reply-wrap time{
	font-size: 1.1rem;
}
.hohSocialFeed .cover{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.hohSocialFeed .avatar{
	display: block;
	border-radius: 3px;
	height: 36px;
	margin-top: 9px;
	width: 36px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.hohSocialFeed .activity-entry{
	margin-bottom: 10px
}
.hohSocialFeed .details{
	min-width: 500px;
	padding: 10px 16px !important;
}
.hohSocialFeed .reply .avatar{
	height: 25px;
	width: 25px;
}
.hohSocialFeed .activity-entry > .wrap > .actions{
	bottom: 12px;
	color: rgb(var(--color-blue-dim));
	position: absolute;
	right: 12px;
}
.hohSocialFeed .activity-entry > .wrap .action{
	cursor: pointer;
	display: inline-block;
	padding-left: 5px;
	transition: .2s;
}
.hohSocialFeed .activity-entry > .wrap > .time{
	color: rgb(var(--color-text-lighter));
	font-size: 1.1rem;
	position: absolute;
	right: 12px;
	top: 12px;
}
.hohSocialFeed .reply{
	background: rgb(var(--color-foreground));
	border-radius: 3px;
	font-size: 1.3rem;
	margin-bottom: 15px;
	padding: 14px;
	padding-bottom: 4px;
	position: relative;
}
.hohSocialFeed .reply .actions{
	color: rgb(var(--color-blue-dim));
	position: absolute;
	right: 12px;
	top: 12px;
}
.hohSocialFeed .activity-entry > .wrap > .time .action{
	cursor: pointer;
	opacity: 0;
	padding-right: 10px;
	transition: .2s;
}
.hohSocialFeed .activity-entry > .wrap > .time:hover .action{
	opacity: 1;
}
.hohSocialFeed .liked{
	color: rgb(var(--color-red));
}
.hohSocialFeed .name,
.hohSocialFeed .title{
	color: rgb(var(--color-blue));
}
.hohMilestones .stat .value{
	color: rgb(var(--color-blue));
	font-size: 1.4rem;
	font-weight: 700;
	padding-bottom: 8px;
}
.hohMilestones .stat .label{
	color: rgb(var(--color-text-light));
  	font-size: 1.1rem;
}
.hohMediaEmbed .embed{
	background: rgb(var(--color-background));
	border-radius: 3px;
	display: inline-grid;
	font-size: 14px;
	grid-template-columns: 50px auto;
	line-height: 18px;
	max-width: 550px;
	min-height: 64px;
	overflow: hidden;
	width: auto;
}
.hohMediaEmbed .wrap{
	color: rgb(var(--color-text-light));
	overflow: hidden;
	padding: 10px 16px 10px 12px;
	text-overflow: ellipsis;
}
.hohMediaEmbed .title{
	color: rgb(var(--color-blue));
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: -10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hohMediaEmbed .info{
	font-size: 1.2rem;
	position: relative;
}
.hohMediaEmbed .genres{
	min-height: 18px;
	min-width: 14px;
	opacity: 0;
	position: relative;
	top: 18px;
	transition: .2s;
}
.hohMediaEmbed .cover{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.hohMediaEmbed .info > span{
	display: inline;
	transition: .2s;
	opacity: 1;
}
.hohMediaEmbed:hover .info > span{
	opacity: 0;
}
.hohMediaEmbed:hover .info > .genres:empty ~ span,
.embed:hover .info > .genres:empty ~ span{
	opacity: 1!important;
}
.hohMediaEmbed:hover .info > .genres{
	opacity: 1;
}
.hohGetMarkdown{
	cursor: pointer;
	opacity: 0;
	padding-right: 10px;
	transition: .2s;
}
.activity-entry:hover .hohGetMarkdown{
	color: rgb(var(--color-blue));
	opacity: 1;
}
.hohMarkdownSource{
	font-size: 1.4rem;
	line-height: 1.4;
	overflow-wrap: break-word;
	word-break: break-word;
}
.queryResults .message img{
	max-width: 100%;
}
.hohTimelineEntry{
	margin: 7px;
	position: relative;
	padding: 7px;
	border-radius: 2px;
	background: rgb(var(--color-foreground));
}
.hohImport .dropbox{
	align-items: center;
	background: rgba(var(--color-background),.6);
	border-radius: 4px;
	color: rgb(var(--color-text-lighter));
	cursor: pointer;
	display: inline-flex;
	font-size: 1.3rem;
	height: 200px;
	justify-content: center;
	line-height: 2rem;
	margin-right: 20px;
	outline-offset: -12px;
	outline: 2px dashed rgba(var(--color-text),.2);
	padding: 18px 20px;
	position: relative;
	transition: .2s;
	vertical-align: text-top;
	width: 200px;
}
.hohImport .dropbox p{
	font-size: 1.2em;
	padding: 50px 0;
	text-align: center;
}
.hohImport .dropbox .input-file{
	cursor: pointer;
	height: 200px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
.hohImport label.el-checkbox{
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}
.section.hohImport{
	margin-bottom: 50px;
}
.media-manga .external-links{
	position: relative;
}
.media-manga .external-links > h2{
	visibility: hidden;
}
.media-manga .external-links > h2::after{
	visibility: visible;
	position: absolute;
	left: 0px;
	top: 0px;
	content: "External & Reading links";
}
.hohButton.danger{
	background: rgba(var(--color-red),.8);
	color: rgb(var(--color-white));
}
.hohButton:disabled{
	opacity: 0.5;
	cursor: default;
}
.hohStepper{
	cursor: pointer;
	position: absolute;
	opacity: 0.5;
}
.el-slider:hover .hohStepper{
	opacity: 1;
}
.hohNameCel{
	margin-left: 50px;
	display: block;
}
.trailer{
	overflow: auto;
	resize: both;
}
.trailer .video{
	height: calc(99% - 30px);
}
.hohResizePearl{
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 20px;
	height: 20px;
	border: solid;
	border-radius: 10px;
	background: rgb(var(--color-foreground));
	cursor: se-resize;
}
.activity-entry > .wrap > .time:hover{
	background: rgb(var(--color-foreground));
	z-index: 60;
}
.activity-entry > .wrap > .time .action{
	margin-left: 5px;
	padding-right: 5px;
}
a.external::after{
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="12" height="12" viewBox="0 0 24 24"><path fill="%23fff" stroke="%2336c" d="M1.5 4.518h5.982V10.5H1.5z"/><path fill="%2336c" d="M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z"/><path fill="%23fff" d="M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z"/></svg>');
	position: absolute;
}
.load-more:hover{
	color: rgb(var(--color-blue));
}
#hohListPreview .media-preview-card:hover .image-text{
	opacity: 0;
}
#hohListPreview .media-preview-card:hover .plus-progress{
	opacity: 1;
}
#hohListPreview .plus-progress{
	background: rgba(var(--color-overlay),.7);
	border-radius: 0 0 3px 3px;
	bottom: 0;
	color: rgba(var(--color-text-bright),.9);
	display: inline-block;
	font-size: 1.3rem;
	font-weight: 500;
	left: 0;
	letter-spacing: .2px;
	margin-bottom: 0;
	opacity: 0;
	padding-bottom: 8px;
	padding-top: 8px;
	position: absolute;
	transition: .3s;
	width: 100%;
}
#hohListPreview .content{
	background: rgb(var(--color-background));
	height: 100%;
	left: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: opacity .3s;
	width: 212px;
	z-index: -1;
	border-radius: 0 3px 3px 0;
	padding: 12px;
}
#hohListPreview .info-left .content{
	border-radius: 3px 0 0 3px;
	left: auto !important;
	right: 100%;
	text-align: right;
}
#hohListPreview .media-preview-card:hover .content{
	opacity: 1;
	z-index: 5;
}
#hohListPreview .content:hover{
	opacity: 0!important;
	z-index: -1!important;
}
#hohListPreview .size-toggle{
	float: right;
	margin-top: -15px;
}
.site-theme-contrast .media-page-unscoped .header .description{
	color: rgb(var(--color-text));
}
.hohDeleteActivity{
	position: absolute;
	top: 2px;
	right: -21px;
	width: 10px;
	color: rgb(var(--color-red));
	cursor: pointer;
	display: none;
	padding-left: 5px;
	padding-right: 5px;
	background: rgb(39, 44, 56);
}
.hohFeed .activity:hover .hohDeleteActivity{
	display: inline;
}
input[list="socialUsers"]{
	color: rgb(var(--color-text));
}
.footer > .actions > .button.like > .like-wrap > .button.liked .icon{
	color: rgb(var(--color-peach));
}
.favourite.media{
	background-color: rgb(var(--color-background));
}
.hohSearchResult{
	width: 18.5%;
	display: inline-block;
	text-align: center;
	padding: 3px;
	height: 2.2em;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	cursor: pointer;
	bacground-color: inherit;
	margin: 1px;
}
.hohSearchResult.anime{
	color: rgb(var(--color-blue));
}
.hohSearchResult.manga{
	color: rgb(var(--color-green));
}
.hohSearchResult.anime:hover{
	background-color: rgb(var(--color-blue),0.3);
}
.hohSearchResult.manga:hover{
	background-color: rgb(var(--color-green),0.3);
}
.hohSearchResult.anime.selected{
	background-color: rgb(var(--color-blue),0.3);
	cursor: initial;
}
.hohSearchResult.manga.selected{
	background-color: rgb(var(--color-green),0.3);
	cursor: initial;
}
.favourites .favourite{
	background-color: rgb(var(--color-background));
}
.hohCharacter .role-card div{
	display: inline-grid;
}
.hohCharacter .role-card > div{
	display: inline-grid;
	grid-template-columns: 60px auto;
	grid-template-areas: "image content";
}
.hohCharacter .cover{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	grid-area: image;
}
.hohCharacter .content{
	font-size: 1.2rem;
	grid-area: content;
	overflow: hidden;
	padding: 10px;
}
.hohCharacter .staff .content{
	text-align: right;
}
.hohCharacter .name{
	display: block;
	height: 48px;
	line-height: 1.3;
}
.hohCharacter .role{
	color: rgb(var(--color-text-lighter));
	font-size: 1.1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.hohCharacter .view-media-staff{
	grid-template-areas: "media staff";
}
.hohCharacter .view-media-staff .staff{
	grid-template-areas: "content image";
	grid-template-columns: auto 60px;
	grid-area: staff;
}
.hohCharacter .view-media-staff .media{
	grid-area: media;
}
.hohCharacter .role-card{
	background: rgb(var(--color-foreground));
	border-radius: 3px;
	display: inline-grid;
	grid-template-columns: 50% 50%;
	height: 80px;
	overflow: hidden;
}
m4_include(css/noAWC.css)
.hohYearHeading{
	grid-column: 1 / -1;
}
#hohMALserialization{
	padding-bottom: 14px;
}
#hohMALscore:empty,
#hohMALserialization:empty{
	display: none;
}
body.TMPreviewScore > .el-tooltip__popper{
	display: none;
}
:root .__ns__pop2top{/*no-script placeholder, messes with the search if there are blocked media elements in the feed*/
	z-index: initial!important;
}
.hohStudioSorter .selected{
	color: rgb(var(--color-blue));
}
.hohStudioSorter span{
	font-weight: normal;
	color: rgb(var(--color-text-lighter));
	display: inline;
	font-size: 1.2rem;
	padding: 4px 15px 5px 15px;
	border-radius: 3px;
	transition: .2s;
	background: none;
	cursor: pointer;
}
.hohStudioSorter span:hover{
	color: rgb(var(--color-blue));
}
.hohStudioSubstitute{
	margin-top: 25px;
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	grid-template-columns: repeat(3,1fr);
}
.hohStudioSubstitute .media-card{
	background: rgb(var(--color-foreground));
	border-radius: 3px;
	box-shadow: 0 2px 20px
	rgba(49,54,68,.09);
	display: inline-grid;
	grid-template-columns: 185px auto;
	height: 265px;
	min-width: 370px;
	position: relative;
	text-align: left;
}
.hohStudioSubstitute .cover{
	background-color: var(--media-color);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
}
.hohStudioSubstitute .data{
	position: relative;
}
.hohStudioSubstitute .description{
	font-size: 1.1rem;
	height: 160px;
	line-height: 15px;
	overflow: hidden;
	padding: 12px;
	color: rgb(var(--color-text-light));
}
.hohStudioSubstitute .genres{
	background: rgb(var(--color-foreground-blue));
	bottom: 0;
	color: rgb(var(--color-text-lighter));
	font-size: 1.1rem;
	left: 0;
	line-height: 13px;
	padding: 8px 10px;
	position: absolute;
	text-align: center;
	width: 100%;
}
.hohStudioSubstitute .cover .overlay{
	background: rgba(var(--color-overlay),.8);
	color: rgb(var(--color-text-bright));
	font-size: 1.4rem;
	padding: 12px;
	width: 100%;
}
.hohStudioSubstitute .cover .overlay .title{
	line-height: 17px;
}
.hohStudioSubstitute .airing-countdown{
	background: rgb(var(--color-foreground-blue-dark));
	color: rgb(var(--color-blue));
	font-weight: 500;
	text-align: center;
	padding: 10px;
	font-size: 1.2rem;
}
.hohStudioSubstitute .extra{
	background: rgb(var(--color-foreground-blue));
	color: rgb(var(--color-text-light));
	display: flex;
	font-size: 1.1rem;
	justify-content: space-around;
}
.hohStudioSubstitute .extra > span{
	display: inline-block;
	padding: 8px;
	text-align: center;
}
.hohStudioSubstitute .list-status{
	border-radius: 50px;
	box-shadow: 0 1px 10px
	rgba(49,54,68,.8);
	cursor: help;
	height: 10px;
	left: 12px;
	position: absolute;
	top: 12px;
	width: 10px;
}
.hohRecsSwitch{
	min-width: 500px
}
.hohRecsSwitch .options{
	min-width: 500px;
	justify-content: space-around;
}
.hohRecsSwitch .options .option{
	border-radius: 30px;
	color: rgb(var(--color-text-light));
	cursor: pointer;
	font-size: 1.5rem;
	margin-right: 3px;
	padding: 3px 12px;
	text-transform: capitalize;
	transition: .25s ease;
}
.hohRecsSwitch .options .option.active{
	background: rgb(var(--color-blue));
	color: rgba(var(--color-white),.9);
}
.recommendations-wrap.substitute{
	display: grid;
	grid-gap: 60px 50px;
	grid-template-columns: repeat(auto-fill,330px);
	justify-content: center;
	margin-bottom: 60px;
}
.recommendations-wrap.substitute .recommendation-pair-card{
	background: rgb(var(--color-foreground));
	border-radius: 8px;
	box-shadow: 0 4px 4px rgba(var(--color-shadow-blue),.05);
	display: grid;
	font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	grid-gap: 20px;
	grid-template-columns: 130px 130px;
	justify-content: space-evenly;
	max-width: 100%;
	padding: 20px;
	padding-bottom: 35px;
	position: relative;
	transition: box-shadow .2s ease-in-out;
	vertical-align: top;
}
.recommendations-wrap.substitute .recommendation-pair-card:hover{
	box-shadow: 0 14px 20px rgba(var(--color-shadow-blue),.1),0 4px 4px rgba(var(--color-shadow-blue),.05);
}
.recommendations-wrap.substitute .cover{
	background-size: cover;
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(var(--color-shadow-blue),.05);
	display: grid;
	grid-template-rows: 1fr auto;
	height: 180px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	width: 130px;
}
.recommendations-wrap.substitute .title{
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 140%;
	white-space: normal;
}
.recommendations-wrap.substitute .rating-wrap{
	align-items: center;
	background: rgba(var(--color-overlay),.9);
	border-radius: 5px;
	bottom: -18px;
	box-shadow: 0 4px 4px rgba(var(--color-shadow-blue),.05);
	color: rgba(var(--color-white),.8);
	cursor: auto;
	display: flex;
	left: calc(50% - 65px);
	padding: 10px 13px;
	position: absolute;
	width: 130px;
}
.recommendations-wrap.substitute .rating{
	font-size: 1.5rem;
	font-weight: 900;
	margin-left: auto;
}
.recommendations-wrap.substitute .thumbs-down:hover{
	color: rgba(var(--color-red));
}
.recommendations-wrap.substitute .thumbs-up:hover{
	color: rgba(var(--color-green));
}
.recommendations-wrap.substitute .icon{
	display: inline-block;
	cursor: pointer;
	transition: color .25s ease-in-out;
}
.recommendations-wrap.substitute .recommendation-pair-card .media:first-child::after{
	content: "➡";
	top: 35%;
	position: absolute;
	right: 48%;
}
.review .actions .icon{
	opacity: 0.5;
}
.review .actions .icon:hover,.review .actions .icon.active{
	opacity: 1;
}
.hohStaffPageData{
	position: absolute;
	right: 10px;
	top: 40%;
}
.recent-recommendations > .header-wrap{
	grid-template-columns: 330px 0 auto;
	justify-content: space-between;
}
.media-page .header .cover-wrap{
	min-height: 340px;
}
#hohStaffTabFilter{
	display: none;
	position: absolute;
	right: 0px;
	top: -25px;
}
.media-staff + #hohStaffTabFilter{
	display: inline;
}
#hohStaffTabFilter > input{
	height: 20px;
	margin-left: 3px;
}
#hohFilterRemover{
	display: none;
}
#hohFilterRemover:hover{
	cursor: pointer;
}
#hohEntryScore{
	user-select: none;
}
.hohSorts{
	color: rgb(var(--color-gray-700));
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: 600;
	padding: 8px 0;
	transition: color .2s ease;
}
.selects-wrap .icon-wrap.active{
	color: rgb(var(--color-blue));
}
.selects-wrap .icon-wrap:hover{
	color: rgb(var(--color-blue));
}
.range-wrap .handle{
	height: 18px;
}
.range-wrap .handle-0{
	background: rgba(var(--color-blue-600),.7);
	border-radius: 2px 2px 0px 20px;
	transform: translate(-13.5px,-4px);
}
.range-wrap .handle-1{
	border-radius: 0px 20px 2px 2px;
	transform: translate(1px,1px);
}
.range-wrap .handle-0:hover{
	transform: translate(-14px,-4px) scale(1.1);
}
.range-wrap .handle-1:hover{
	transform: translate(1.5px,1.5px) scale(1.1);
}
.range-wrap .handle:hover{
	background: rgba(var(--color-blue-600));
}
.range-wrap .active-region{
	border-radius: 0px;
}
.results.table{
	counter-reset: entryCounter;
}
.results.table .media-card:not(.has-rank)::before{
	counter-increment: entryCounter;
	content: counter(entryCounter);
	opacity: 0.5;
	font-size: 70%;
	margin-left: -21px;
	top: 2px;
	margin-right: 3px;
	position: absolute;
}
.results.cover .title{
	position: relative;
	padding-left: 15px;
	margin-left: -12px;
}
.results.cover .title .list-status.circle{
	visibility: visible;
	position: absolute;
	left: 0px;
	top: 3px;
}
.hohRoleLine{
	height: 7px;
	position: absolute;
	left: 0px;
	top: -8px;
	width: 80%;
	border-radius: 3px;
}
#hohMarkdownHelper{
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 999;
	cursor: pointer;
}
#hohMarkdownHelper:hover{
	font-weight: bold;
}
.hohGuideHeading,
.hohGuideHeading:visited{
	color: rgb(var(--color-blue));
}
.studio-page-unscoped.cardView .media-card,
.studio-page-unscoped:not(.listView) .media-card{
	overflow: visible;
}
.studio-page-unscoped.cardView .hohStudioSubstitute .list-status{
	transform: translate(-18px,-18px);
}
.studio-page-unscoped:not(.listView) .hohStudioSubstitute .list-status{
	transform: translate(-20px,-20px);
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .description{
	display: none;
}
.studio-page-unscoped .hohStudioSubstitute .description:hover{
	overflow-y: auto;
	scrollbar-width: thin;
}
.studio-page-unscoped,
.results > .studio{
	counter-reset: ranking;
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .character,
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .staff{
	position: relative;
}
.studio-page-unscoped .hohStudioSubstitute .data::before{
	left: 2px;
	opacity: 0.4;
	font-size: 70%;
	position: absolute;
	counter-increment: ranking;
	content: counter(ranking);
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .media-card{
	min-width: 150px!important;
	grid-template-columns: 150px auto!important;
	height: 297px!important;
	width: 150px !important;
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .cover .overlay{
	padding-left: 8px!important;
	padding-right: 8px!important;
	padding-top: 4px!important;
	padding-bottom: 14px!important;
}
.studio-page-unscoped:not(.cardView)  .hohStudioSubstitute .grid-wrap > .media-card{
	margin-left: 30px;
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .media-card .cover{
	width: 150px;
	height: 215px;
	margin-top: 53px;
	z-index: 100;
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .data{
	margin-left: -150px;
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .genres{
	min-height:29px;
	z-index: 101;
	padding: 8px 5px!important;
	padding-bottom: 2px !important;
	font-size: 1rem!important;
	line-height: 1.15;
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .list-edit{
	z-index: 101;
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .airing-countdown{
	padding: 5px!important;
}
.studio-page-unscoped:not(.cardView)  .hohStudioSubstitute.grid-wrap{
	grid-template-columns: repeat(auto-fill, 150px) !important;
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .media{
	grid-template-columns: repeat(auto-fill, 150px) !important;
	width:100%;
}
.studio-page-unscoped:not(.cardView) .hohStudioSubstitute .list-status{
	width: 20px!important;
	height: 20px!important;
}
.studio-page-unscoped.listView .hohStudioSubstitute.container.grid-wrap,
.studio-page-unscoped.compactListView .hohStudioSubstitute.container.grid-wrap{
	display: block!important;
}
.studio-page-unscoped.listView .hohStudioSubstitute .media-card{
	margin-bottom: 10px;
	height: 195px;
	width: 95%;
}
.studio-page-unscoped.listView .hohStudioSubstitute .media-card .cover{
	height: 165px;
	width: 115px;
}
.studio-page-unscoped.listView .hohStudioSubstitute .media-card .cover .overlay{
	position: absolute;
	top: 0px;
	left: 115px;
	z-index: 5;
	background: none;
	width: 550px;
	padding: 10px;
	color: rgb(var(--color-text));
}
.studio-page-unscoped.listView .hohStudioSubstitute .media-card .data{
	margin-left: -70px;
	height: 195px;
}
.studio-page-unscoped.listView .hohStudioSubstitute .media-card .data .list-edit{
	display: inline;
	width: 115px;
	height: 30px;
	position: absolute;
	left: -115px;
	top: 165px;
}
.studio-page-unscoped.listView .hohStudioSubstitute .media-card .data .genres{
	display: inline;
}
.studio-page-unscoped.listView .hohStudioSubstitute .media-card .data .extra{
	padding-left: 50%;
}
.studio-page-unscoped.listView .media-card .data .description{
	height: 102px;
}
.studio-page-unscoped.listView .hohStudioSubstitute .media-card .data .airing-countdown,
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .data .airing-countdown{
	text-align: right;
}
.studio-page-unscoped.listView .hohStudioSubstitute .media-card .data .list-edit .action{
	padding: 5px;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card{
	margin-bottom: 5px;
	height: 30px;
	width: 95%;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .data .description{
	display: none;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .cover{
	background: none!important;
	height: 30px;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .cover .list-status{
	transform: translate(-3px,-3px);
	z-index: 51;
	box-shadow: none;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .cover .overlay{
	z-index: 49;
	background: none;
	position: absolute;
	top: 0px;
	left: 20px;
	padding: 6px;
	width: 600px;
	color: rgb(var(--color-text));
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .data{
	margin-left: -185px;
	position: relative;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .data .list-edit{
	position: absolute;
	top: 0px;
	width: 115px;
	left: calc(100% - 115px);
	background: none;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card:hover .data .airing-countdown{
	display: none;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .data .extra{
	position: absolute;
	left: calc(100% - 550px);
	top: 0px;
	background: none;
	width: 150px;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .data .genres{
	position: absolute;
	width: 200px;
	top: 6px;
	background: none;
	left: calc(100% - 350px);
	display: inline;
	padding: 0px;
	height: 30px;
	line-height: 10px;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .media-card .data .genres span{
	vertical-align: middle;
}
.studio-page-unscoped.compactListView .hohStudioSubstitute .data::before{
	font-size: 50%;
}
.studio-page-unscoped.listView .hohStudioSubstitute .data::before{
	font-size: 60%;
}
.studio-page-unscoped .hohThemeSwitch{
	width: 130px;
	position: absolute;
	top: 60px;
	left: 50%;
}
.studio .hohStudioSubstitute .media-card.isMain{
	border-bottom: rgb(var(--color-blue));
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.hohInfoButton{
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
}
.anisongs p{
	background: rgb(var(--color-foreground));
	margin: 2px;
	padding: 8px;
	border-radius: 3px;
}
.search .filter > .icon{
	display: inline-block;
}
.rules-notice{
	display: none;
}


m4_include(css/footerLinks.css)
m4_include(css/displayBox.css)
m4_include(css/smallScreens.css)
