.favourites-wrap.anime,
.favourites-wrap.manga,
.favourites-wrap.staff,
.favourites-wrap.characters,
.favourites-wrap.studios{
	direction: rtl;
}
.genre-overview .genres{
	direction: rtl;
}
.genre-overview .percentage-bar{
	direction: rtl;
}
.milestones{
	direction: rtl;
}
.milestones + .progress{
	transform: scale(-1);
}
.list-preview{
	direction: rtl;
}
#hohListPreview .list-preview{
	width: 100%;
}
.media-preview-card .hohFallback,
.media-preview-card .content{
	direction: ltr;
}
.media-preview-card .content meter{
	direction: rtl;
}
.banner-content{
	direction: rtl;
}
.banner-content .actions{
	margin-right: auto;
	margin-left: inherit!important;
}
#hohListPreview .info-left .content {
    border-radius: 3px 0 0 3px;
    left: auto !important;
    right: 100%;
    text-align: right;
}
#app .home{
	grid-template-columns: 470px auto !important;
}
.home > .activity-feed-wrap + div{
	grid-row: 1;
}
.recent-reviews .review-wrap{
	direction: rtl;
}
.recent-reviews .review-card{
	direction: ltr;
}
.recent-reviews + div .media-preview{
	direction: rtl;
}
#app > .progress{
	transform: scale(-1);
}
.hohColourPicker{
	margin-right: 20px;
}
.home .activity-feed-wrap .section-header{
	direction: rtl;
}
.home .activity-feed-wrap .section-header .feed-select{
	margin-right: auto;
	margin-left: inherit;
}
.home .activity-feed-wrap .section-header .feed-select .el-dropdown{
	direction: ltr;
	margin-left: 20px;
}
.hohSubMenuLink{
	text-align: right;
}
.quick-search .input{
	direction: rtl;
}
.quick-search .results{
	direction: rtl;
}
.quick-search .results .result{
	direction: ltr;
}
.quick-search .results .result-col h3.title{
	right: 0px;
}
.home .section-header{
	text-align: right;
}
.home .list-previews .section-header{
	direction: rtl;
}
.user .nav-wrap{
	direction: rtl;
}
.user .medialist{
	direction: rtl;
}
.medialist .filters .filter-group:first-child > span .count{
	left: 0px;
	right: inherit;
}
.medialist.table .entry .title a{
	margin-left: auto;
	margin-right: 10px;
	direction: ltr;
}
.medialist .lists > .actions{
	left: 0px;
	right: inherit;
}
.list-editor-wrap .header .content{
	direction: rtl;
}
