@media(max-width: 1540px){
	.substitution .container{
		max-width: 1200px;
	}
	.hohStudioSubstitute{
		grid-template-columns: repeat(2,1fr);
	}
}
@media(max-width: 1040px){
	.input-wrap.manga input[placeholder="Status"],
	.input-wrap.anime input[placeholder="Status"],
	.input-wrap.anime .form.score input{
		width: 100%;
	}
	.substitution .grid-wrap{
		grid-template-columns: 1fr;
	}
	.home .list-preview .media-preview-card:nth-child(5n+3) .content{
		text-align: left;
		right: unset;
	}
	.status{
		font-size: small;
	}
	.status > .name{
		padding: 5px;
	}
	.home .activity-anime_list .details,
	.home .activity-manga_list .details,
	.user .activity-anime_list .details,
	.uer .activity-manga_list .details{
		margin-bottom: 20px;
	}
	.home .activity-entry > .wrap > .actions,
	.user .activity-entry > .wrap > .actions{
		width: calc(100% - 150px);
		bottom: 7px;
		display: flex;
	}
	.home .activity-entry.activity-text > .wrap > .actions,
	.user .activity-entry.activity-text > .wrap > .actions{
		width: calc(100% - 150px);
		bottom: 7px;
		display: flex;
	}
	.home .activity-entry > .wrap > .actions .action,
	.user .activity-entry > .wrap > .actions .action{
		flex: 50%;
		text-align: center;
	}
}
@media(max-width: 760px){
	#hohMALscore{
		padding-right: 25px;
	}
	#hohMALscore .type{
		font-weight: 400;
	}
	#hohMALscore .value{
		color: rgb(var(--color-text));
		font-size: 1.4rem;
	}
	.hohMediaImageContainer{
		position: absolute;
		right: -22px;
		max-height: 30px;
		width: 25px;
		overflow: scroll;
		scrollbar-width: thin;
	}
	.hohUserImageSmall{
		display: none;
	}
	.hohMessageText{
		margin-top: 30px!important;
	}
	.hohBackgroundUserCover{
		margin-top: 1px;
	}
	.hohMediaImageContainer > a{
		height: 20px;
	}
	.hohMediaImage{
		height: 20px;
		width: 20px;
		margin-right: 0px
	}
	.hohNotification{
		margin-right: 23px;
		font-size: 1.5rem;
	}
	.hohCommentsContainer{
		position: relative;
		top: 70px;
	}
	.hohComments{
		position: absolute;
		right: -5px;
		top: 5px;
	}
	.notifications-feed .filters p{
		display: inline;
		margin-left: 10px;
	}
	.activity-feed .actions,
	.activity-feed .actions .action .count{
		font-size: 1.6rem;
	}
	.hohDownload{
		top: 50px;
	}
	.media .hohDownload{
		top: 5px;
	}
	#dubNotice{
		margin: 0px;
	}
	.hohFeedFilter .hohDescription{
		display: none;
	}
	.forum-feed .create-btn + .filter-group > a{
		display: inline-block;
		width: 19%;
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(var(--color-foreground));
	}
	.hohExtraFilters{
		max-height: 250px;
		overflow: auto;
	}
	.recommendations-wrap .actions .thumbs-down{
		margin-right: 10px;
	}
	.relations.hohRelationStatusDots .hohStatusDot,
	.recommendation-card .hohStatusDot{
		position: relative;
		transform: none;
	}
	.hohCategories::after{
		display: block;
		color: rgb(var(--color-peach));
		content: "On mobile? The 'mobile friendly' setting will probably make the script a lot less broken";
	}
	.media .data-set a[href^="/studio/"]{
		margin-left: 5px;
	}
	.media p.description:empty{
		display: none;
	}
	.hohDisplayBox{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 50px!important;
		width: 100%;
		min-height: 100px!important;
		height: 80%;
	}
	.hohDisplayBox .scrollableContent{
		padding: 10px;
		padding-left: 0px;
		padding-top: 15px;
	}
	.hohAdvancedDollar{
		margin-left: 20px;
	}
	.hohAdvancedDollar:hover:before{
		right: 5%;
	}
	.title .notes{
		margin-left: 20px;
	}
	.repeat[label]:hover:after{
		background: rgba(var(--color-overlay),.9);
		color: rgb(var(--color-text-bright));
		content: attr(label);
		position: absolute;
		top: 35%;
		padding: 5px;
		border-radius: 4px;
		font-weight: normal;
		font-size: 1.3rem;
		white-space: pre;
		z-index: 1000;
	}
}
@media(max-width: 500px){
	.footer [href="https://anilist.co"],
	.footer [href="/sitemap/index.xml"]{
		display: none;
	}
	.footer .links{
		margin-left: -20px;
	}
	.markdown-editor{
		padding: 12px 2px!important;
	}
	.hohColourPicker{
		display: none;
	}
}
@media(max-height: 500px){
	.hohDisplayBox{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-height: 100px!important;
		height: 90%;
	}
	.hohDisplayBox .scrollableContent{
		padding: 10px;
		padding-left: 0px;
		padding-top: 15px;
	}
}
